<mat-card class="detail-card">
  <mat-card-header>
    <button mat-flat-button color="accent" [routerLink]="['/news']"><mat-icon>keyboard_arrow_left</mat-icon> Voltar</button>
  </mat-card-header>
  <mat-card-content>
    <h2>Title: {{news.title}}</h2>
    <h3>Author: {{news.author}}</h3>
    <p>Content: {{news.content}}</p>
    <p>Tags: {{news.tags}}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-flat-button color="primary" class="teste" [routerLink]="['/update-news', news.id]"><mat-icon>edit</mat-icon> Editar</button>
    <button mat-flat-button color="warn" (click)="deleteNews(news.id)"><mat-icon>delete</mat-icon> Excluir</button>
  </mat-card-actions>
</mat-card>
